<head>
  <meta charset="utf-8">
  <title>Mauna Loa Timelapse</title>
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link rel="stylesheet" href="app.css" media="screen" title="Main stylesheet">
</head>
