{% extends 'layout.twig' %}

{% block content %}
  {% for image in images %}
    <div class="frame" style="background-image: url({{ image }});">
      <datetime class="frame__date">{{ img_name_to_date(image) }}</datetime>
    </div>
  {% endfor %}
{% endblock %}
{% block footer_scripts %}
  <script type="text/javascript">
    var images = document.getElementsByClassName('frame');

    var i = 0, l = images.length;
    (function iterator() {
      images[i].style.opacity = 1;

      if(i > 0){
        var previous = i - 1;
        images[previous].style.opacity = 0;
      }

      if(++i<l) {
          setTimeout(iterator, 75);
      }
    })();
  </script>
{% endblock %}
