<!DOCTYPE html>
<html>
  {% include 'fragments/header.twig' %}
  <body>
    <h1 class="brand">Mauna Loa</h1>
    {% block content %}
    {% endblock %}
    {% block footer_scripts %}
    {% endblock %}
  </body>
</html>
